*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #313131;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13pt;
}

section {
  margin: 2rem 30rem;
  padding: 2rem;
  width: auto;
  border-radius: 8px;
}

section[sectionType="text"] {
  background-color: #454545;
}

section[sectionType="grid"] {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 15rem));
  gap: 2rem;
}

section[sectionType="grid"] .item {
  display: flex;
  flex-direction: column;
}
